@import '../../resetStyles.scss';

.this__day__wrapper{
    padding-bottom: 150px;
    font-family: 'Helvetica';
    display: block;
    align-items: center;
    max-width: 300px;
    width: 100%;
    margin-left: 8%;
    margin-top: 5%;
    .this__day__info{
        font-size: 1.5rem;
        .this__day__info__date{
            margin-top: 5%;
            font-size: 1.1rem;
            font-weight: 300;
        }
    }
    .this__day__info__temp{
        margin-top: 10%;
        font-size: 3.2rem;
    }
}
@media (max-width: 768px) {
    .this__day__wrapper{
        margin-left: 3%;
    }
}